/* MAIN */
#content main {
    background-color: var(--paper-background);
    width: 100%;
    padding: 2rem;
    height: calc(100vh - 56px);
}
#content main .head-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-gap: 16px;
    flex-wrap: wrap;
}

#content main .head-title .left .breadcrumb {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    grid-gap: 16px;
}
#content main .head-title .left .breadcrumb li {
    color: var(--text);
}
#content main .head-title .left .breadcrumb li a {
    color: var(--text);
    pointer-events: none;
}
#content main .head-title .left .breadcrumb li a.active {
    color: var(--info-color);
    pointer-events: unset;
}
#content main .head-title .btn-download {
    height: 36px;
    padding: 0 16px;
    border-radius: 36px;
    background: var(--info-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
    font-weight: 500;
}

#content main .box-info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 24px;
    margin-top: 2rem;
}
#content main .box-info li {
    padding: 2rem;
    background: var(--default-background);
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    grid-gap: 24px;
}
#content main .box-info li .bx {
    width: 80px;
    height: 80px;
    border-radius: 10px;
    font-size: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content main .box-info li:nth-child(1) .bx {
    background: var(--info-color);
    color: #fff;
}
#content main .box-info li:nth-child(2) .bx {
    background: var(--warn-color);
    color: #fff;
}
#content main .box-info li:nth-child(3) .bx {
    background: var(--error-color);
    color: #fff;
}
#content main .box-info li .text h3 {
    font-size: 2.4rem;
    font-weight: 600;
    color: var(--text);
}
#content main .box-info li .text p {
    color: var(--text);
    font-size: 1.4rem;
}

#content main .table-data {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 24px;
    margin-top: 24px;
    width: 100%;
    color: var(--text);
}
#content main .table-data > div {
    border-radius: 20px;
    background: var(--default-background);
    padding: 24px;
    overflow-x: auto;
}
#content main .table-data .head {
    display: flex;
    align-items: center;
    grid-gap: 16px;
    margin-bottom: 24px;
}
#content main .table-data .head h3 {
    margin-right: auto;
    font-size: 24px;
    font-weight: 600;
}
#content main .table-data .head .bx {
    cursor: pointer;
}
#content main .table-data .head .bx.bx-search,
#content main .table-data .head .bx.bx-filter {
    font-size: 1.6rem;
}
#content main .table-data .order {
    flex-grow: 1;
    flex-basis: 500px;
}
#content main .table-data .order table {
    width: 100%;
    border-collapse: collapse;
}
#content main .table-data .order table th {
    padding-bottom: 12px;
    font-size: 1.4rem;
    text-align: left;
    border-bottom: 1px solid var(--paper-background);
}
#content main .table-data .order table td {
    padding: 16px 0;
    font-size: 1.4rem;
}
#content main .table-data .order table tr td:first-child {
    display: flex;
    align-items: center;
    grid-gap: 12px;
    padding-left: 6px;
}
#content main .table-data .order table td img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
}
#content main .table-data .order table tbody tr:hover {
    background: var(--paper-background);
}
#content main .table-data .order table tr td .status {
    font-size: 1.4rem;
    padding: 6px 16px;
    color: var(--default-background);
    border-radius: 20px;
    font-weight: 500;
}
#content main .table-data .order table tr td .status.completed {
    background: var(--success-color);
}
#content main .table-data .order table tr td .status.process {
    background: var(--warn-color);
}
#content main .table-data .order table tr td .status.pending {
    background: var(--info-color);
}

#content main .table-data .todo {
    flex-grow: 1;
    flex-basis: 300px;
}
#content main .table-data .todo .todo-list {
    width: 100%;
}
#content main .table-data .todo .todo-list li {
    font-size: 1.4rem;
    width: 100%;
    margin-bottom: 16px;
    background: var(--grey);
    border-radius: 10px;
    padding: 14px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#content main .table-data .todo .todo-list li .bx {
    cursor: pointer;
}
#content main .table-data .todo .todo-list li.completed {
    border-left: 10px solid var(--blue);
}
#content main .table-data .todo .todo-list li.not-completed {
    border-left: 10px solid var(--orange);
}
#content main .table-data .todo .todo-list li:last-child {
    margin-bottom: 0;
}
